*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
.kotlin
/.kotlin
secrets.properties
features/actors/data/build
features/actors/domain/build
features/actors/ui/build
features/actors/data/build
features/series/data/build/
features/series/ui/build/
features/series/domain/build/

lib/build
